{% ckan_extends %}

{% block resource_item_explore %}
  {{ super() }}
  {% if not url_is_edit and h.csvtocsvw_show_tools(res) %}
    <div class="btn-group" style="position:relative">
      {% if res.url and h.is_url(res.url) %}
      <a href="{{ url }}/csv_annotate " class="btn btn-primary button" type="button" id="csvtocsvw_push">
        <i class="fa fa-share"></i>
        {{ _('Annotate') }}
        <span class="caret"></span> 
      </a>
      {% endif %}
    </div>
  {% endif %}
  {% endblock %}